<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
		<script type="text/javascript" src='bower_components/backbone/backbone.js'></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="jquery.websocket.js"></script>

	</head>
	<body>

		<script type="text/template" id='tmpl-message'>
			<div class='alert alert-dismissable alert-info'>
				<%= data.username %>
				<%= data.message %>
			</div>
		</script>


		<div class="container">
			<div class="col-md-4" id="status">
			</div>
			<div class="col-md-8" id="board"></div>  
		</div>


		

		<div class="navbar navbar-inverse navbar-fixed-bottom">
			<ul class="nav navbar-nav">
				<li><input id="text" type="text" class="form-control"></li>
				<li><button id="submit" class="btn btn-success">Send</button></li>
			</ul>
		</div>
		<script type="text/javascript" src='main.js'></script>
	</body>
</html>

